.profile {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-self: center;

  &__avatar {
    display: block;
  }

  &__name {
    color: black;
    font-size: 32px;
    font-weight: bold;
  }

  &__description {
    font-size: 24px;
    font-weight: normal;
  }
}