.footer {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__logo {

  }

  &__about {
    color: darkslategray;
    font: {
      size: 24px;
      weight: bold;
    }
  }
}
