.app {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  height: 100vh;
}
