.header {
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__user {
    margin: 0;
    color: honeydew;
    font: {
      size: 24px;
      weight: bold;
    }
  }
}