html {
  box-sizing: border-box;
  font-size: 30px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

$regularTextColor: #60606E;
$bgColor: #7BEEC7;
$btnTextColor: #FFFFFF;
$containerWidth: 1300px;
$contentWidth: 1140px;
$regularFont: 'Montserrat';

.wrapper {
  max-width: $containerWidth;
  margin: 0 auto;

  &__choose {
    margin-top: 261px;
  }
}

.about {
  height: 850px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../images/aboutbackground.png');
  background-size: 1300px auto;
  background-repeat: no-repeat;
  &__header {
    padding-top: 43px;
    margin: 0 80px;
  }
  &__logo {
    margin-top: 164px;
  }
  &__history {
    padding-top: 119px;
    margin-left: 80px;
    margin-right: 80px;
  }
  &__choose {

  }
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: $contentWidth;
  &__caption {
    font: {
      family: 'Montserrat';
      weight: bold;
      size: 18px;
    };    
    color: $regularTextColor;
  }
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 15px;
  &:before, &:after{
    content: '';
    background-color: $regularTextColor;
    position: absolute;
    height: 1px;
    width: 31px;
    left: 0;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
    width: 23px;
  }   
  &__span{
    position: absolute;
    background-color: $regularTextColor;
    width: 15px;
    height: 1px;
    left: 0px;
    top: 7px;           
  }  
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__uptitle {
    background-color: $bgColor;
    color: $regularTextColor;
    width: 98px;
    line-height: 30px;
    font: {
      family: $regularFont;
      size: 18px;
      weight: bold;
    }
  }
  &__title {
    border: 10px solid $regularTextColor;
    color: $regularTextColor;
    width: 556px;
    line-height: 80px;
    letter-spacing: -0.5px;
    font: {
      family: $regularFont;
      size: 48px;
      weight: bold;
    }
  }
  &__subtitle {
    color: $regularTextColor;
    max-width: 547px;
    line-height: 25px;
    margin-top: 24px;
    letter-spacing: -0.5px;
    font: {
      family: $regularFont;
      size: 16px;
      weight: normal;
    }
  }
}

.history {
  display: flex;
  justify-content: space-between;
  max-width: $contentWidth;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    margin-left: 30px;
    max-width: 557px;
  }

  &__info {
    margin-right: 15px;
  }

  &__btn {
    width: 166px;
    height: 51px;
    background-color: $bgColor;
    border: none;
    margin-top: 16px;
    align-self: flex-end;
    color: $btnTextColor;
    font: {
      family: $regularFont;
      size: 14px;
      weight: bold;
    }
  }
}

.btn {
  background-color: $bgColor;
  border: none;
  color: $btnTextColor;
  text-transform: uppercase;
  font: {
    family: $regularFont;
    size: 14px;
    weight: bold;
  }
}

.info {
  color: $regularTextColor;

  &__title {    
    margin-bottom: 9px;
    width: 275px;
  }

  &__marker {
    position: relative;
    height: 22px;
    width: 68px;
    background-color: $bgColor; 
  }

  &__text {
    width: 380px;
    position: absolute;
    top: -15px;
    left: 0px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    font: {
      family: $regularFont;
      size: 30px;
      weight: bold;
    }
  }

  &__subtitle {
    line-height: 30px;
    letter-spacing: -0.5px;
    font: {
      family: $regularFont;
      size: 16px;
      weight: normal;
    }
  }

  &__subtitle_ta-justify {
    text-align: justify;
  }

  &__subtitle_ta-center {
    text-align: center;
    max-width: 720px;
    line-height: 27px;
    letter-spacing: -0.5px;
    font-size: 14px;
  }
}

.choose {
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }

  &__data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.block {
  color: $regularTextColor;
  text-transform: uppercase;
  &__image {

  }

  &__image-w32 {
    width: 32px;
  }

  &__image-w28 {
    width: 28px;
  }
}